@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #203f3f;
    --color-secondary: #d72050;
    --color-base-200: #f3f3f3;
    --color-base-300: #e7e7e7;
    --color-accent: #706f6f;
}

.active-link {
    font-weight: 500;
    background-color: var(--color-base-300);
    color: black;
}
